{% extends "base.html.twig" %}


{% block title %}
   Blog - Connexion
{% endblock %}


{% block body %}
    <div class='container'>
        <h1 class="text-center">    Connexion </h1>

        <form action="" method="post">
            <div class="mb-3">
                <label for="email" class="form-label" > Mot de passe : </label>
                <input type='email' class='form-control' name="_username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label" > Mot de passe : </label>
                <input type='password' class='form-control' name="_password">
            </div>
            <button class="btn btn-block btn-success"> Se connecter </button>
        </form>
    </div>
{% endblock %}