<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{path('home')}}">
			<font style="vertical-align: inherit;">
				<font style="vertical-align: inherit;">Blog Kitoni</font>
			</font>
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
		<div class="collapse navbar-collapse " id="navbarColor01">
	{% if app.user %}
	<a href="{{ path('security_logout')}}" class="btn btn-danger m-1 " >Déconnexion</a>
	{% else %}	
	<a href="{{ path('security_register')}}" class="btn btn-success m-1 " > Inscription </a>
	<a href="{{ path('security_login')}}" class="btn btn-success m-1 ">Connexion</a>
	{% endif %}

		</div>
</nav>
